{% load leaflet_tags %}

{% leaflet_js %}
{% leaflet_css %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.15/proj4-src.js"></script>

<style>
    .leaflet-container { /* all maps */
        height: 400px;
    }
</style>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function (event) {
        var overlay_layers = {};

        var firstProjection = proj4('EPSG:3857');
        var secondProjection = proj4('EPSG:4326');

        var point_wsg84 = proj4(firstProjection,secondProjection,[{{ resource.center_x }}, {{ resource.center_y }}]);

        map = L.map('the_map').setView([point_wsg84[1], point_wsg84[0]],6);;

        map.setZoom({{ resource.zoom }});

        {% for layer in layers %}
            var wmsLayer = L.tileLayer.wms('{{ layer.ows_url }}', {
                layers: '{{ layer.name }}'
            }).addTo(map);
        {% endfor%}         

    });

    function zoom_to_box(map, bbox) {
        var bounds = [
            [bbox[1], bbox[0]],
            [bbox[3], bbox[2]]
        ];
        map.fitBounds(bounds);
    }
</script>
